$_bg: #f5f5f5;

$color-primary: #669cff;

$app-bg: #e4e4e4;

// header
$app-header-height: 48px;
$app-header-bg: $_bg;
$app-header-logo-title: #343437;
$app-header-border-color: #d9dbe1;

// active-bar
$app-active-bar-width: 60px;
$app-active-bar-bg: $_bg;
$app-active-bar-border-color: #d3d5db;

// side-bar
$app-side-bar-bg: $_bg;
$app-side-bar-width: 280px;
$app-side-bar-search-height: 42px;

// tab
$app-tab-bg: #f5f5f5;
$app-tab-bg-active: #ffffff;
$app-tab-height: 32px;

// status-bar
$app-status-bar-height: 24px;
$app-status-bar-bg: #FFFFFF;
